{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * k4 Field Notes plugin for Craft CMS 3.x
 *
 * K4FieldNotesField Field Input
 *
 * @author    Christian Hiller
 * @copyright Copyright (c) 2019 Christian Hiller
 * @link      https://kreisvier.ch
 * @package   K4FieldNotes
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.textField({
        label: 'Some Field',
        instructions: 'Enter some text here.',
        id: name,
        name: name,
        value: value})
}}
