{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * k4 Field Notes plugin for Craft CMS
 *
 * K4FieldNotesField Field Settings
 *
 * @author    Christian Hiller
 * @copyright Copyright (c) 2019 Christian Hiller
 * @link      https://kreisvier.ch
 * @package   K4FieldNotes
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.textareaField({
    label: 'Note Content',
    instructions: 'Add some notes to the content',
    id: 'noteContent',
    name: 'noteContent',
    placeholder: 'Note Content'|t,
    value: settings.noteContent
}) }}
